<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div>
        <h3>After a year's hiatus it's back and bigger than ever!</h3>
        <h1>8th Annual Songs 4 Soldiers Benefit Concert</h1>
        <h2>featuring Josh Turner & Night Ranger</h2>
        <h3>September 17 & 18, 2021</h3>
    </div>
    <div>
        <img src="../static/images/JoshTurnerPromo2021.jpeg" alt="Josh Turner Promo photo" />
        <img src="../static/images/NightRangerPromo21_1.jpeg" alt="Night Ranger Promo photo" />
    </div>
    <div id="banner">
        <h4>Presented By:</h4>
        <div>
            <img src="../static/images/weberChevrolet.png" alt="Weber Chevrolet logo" />
            <img src="../static/images/budweiser.png" alt="Budweiser logo" />
        </div>
    </div>
</body>
</html>