<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="https://www.thymeleaf.org/ ">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Volunteer</title>
</head>
<body>
<hi th:text="${title}">Volunteer</hi>
<form method='post' action='/volunteer'>
    <input type='text' name='name'/>
    <input type='submit' value='Log In'/>

    <input type='text' value='e-mail'/>
    <input type='submit' value='Volunteer'/>
    <input type='reset' value='Reset'/>
</form>
</body>
</html>