<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="https://www.thymeleaf.org/ ">
<head th:replace="fragments :: head"></head>
<body>
    <div class="container">
        <div id="header" th:replace="fragments :: header"></div>
        <h1 th:text="${title}">Volunteer</h1>
        <form method='post' action='/volunteer'>
            <input type='text' name='name'/>
            <input type='submit' value='Log In'/>

            <input type='text' name='e-mail'/>
            <button type='submit' value='Volunteer'></button>
            <button type='reset' value='Reset'></button>
        </form>
    <div id="footer" th:replace="fragments :: footer"></div>
    </div>
</body>
</html>